---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$footer-background-color: #a94064;
$masthead-link-color: #a94064;
$muted-text-color: #f7f2ed;
$background-color: #f7f2ed;



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

